<?
use \Infinity\Entity\Field;

?>
<h1>Document Field</h1>

<form method="post">

    <p>
    <label for="field_name">Field Name</label>
    <input class="input" type="text" name="name" id="field_name" value="<?= @$form['name'] ?>">

    <p>
    <label for="field_description">Description</label>
    <textarea name="description" id="field_description"><?= @$form['description'] ?></textarea>

    <p>
    <label for="format">Format</label>
    <input class="input" type="text" name="format" id="format" value="<?= @$form['format'] ?>">

    <p>
    <label for="document_id">Document</label>
    <input readonly class="input" type="text" name="document_id" id="document_id" value="<?= @$form['document_id'] ?>">

    <p><button class="btn" type="submit">Save Field</button>
</form>
