<?
use \Infinity\Entity\Field;
?>
<h1><?= isset($document) ? 'Edit' : 'New' ?> Document</h1>

<a href="/cms/category/<?= $category->id ?>" class="btn">&larr; Back to <?= $category->name ?></a>

<form method="post">

    <fieldset>
        <legend>Document Meta Info</legend>

        <p>
        <label for="document_name">Name</label>
        <input class="input" type="text" name="name" id="document_name" value="<?= @$form['name'] ?>">

        <p>
        <label for="document_description">Description</label>
        <textarea name="description" id="document_description"><?= @$form['description'] ?></textarea>

        <!-- <p>
        <label for="category_id">Category</label> -->
        <input class="input" type="hidden" name="category_id" id="category_id" value="<?= @$form['category_id'] ?>">

        <!-- <p>
        <label for="template_id">Template</label> -->
        <input class="input" type="hidden" name="template_id" id="template_id" value="<?= @$form['template_id'] ?>">

    </fieldset>


    <?
    if (isset($document)) :
    ?>

        <fieldset>
            <legend>Document Fields</legend>
            <?
            if (count($fields))
            {

                echo '<a class="btn btn--blue" href="/cms/document/' . $document->id . '/editor">Document Editor &rarr;</a>';

                foreach ($fields AS $field)
                {
                    // $format_name = Field::get_format_name($field['format']);
                    $format_name = Field::get_format_name($field->format);
                    $render("edit-field/$format_name", ['field' => $field]);
                    echo '<a href="/cms/field/' . $field->id . '">Modify Field</a>';
                }
            }
            else
            {
                echo '<p><em>This document has no fields. Click to add one below.</em></p>';
            }
            ?>


        </fieldset>

    <?
    endif;
    ?>

    <p><button class="btn btn--green" type="submit">Save Document</button>


    <?
    if (isset($document)) :
    ?>
        <hr>
        <p><a href="/cms/document/<?= $id ?>/new-field" class="btn">Add a Field</a></p>
    <?
    endif;
    ?>

</form>
