<?
namespace Infinity;
?>
<? // TODO: figure out how to be smart about including css files and stuff ?>
<link rel="stylesheet" type="text/css" href="/cms/static/editor.css">

<form method="post" id="document_editor" class="document-editor">

	<?= $render('document-path', ['document' => $document, 'category' => $category, 'draft' => @$draft]) ?>

	<div class="editor-controls">
		<div class="">
			<p><input class="btn btn--blue" type="submit" name="save_action" value="Save Draft">
			<p><input class="btn btn--green" type="submit" name="save_action" value="Publish">

			<p><a class="btn" href="/cms/document/<?= $document->id ?>">Cancel</a>

			<?
			if (is_numeric($document->published) && !is_null($draft)) :
			?>
			<p><a href="/cms/document/<?= $document->id ?>/editor/discard-draft">Discard draft</a></p>
			<p><a href="#">Edit published version</a></p>
			<?
			endif;
			?>

			<?
			$the_date_format = 'j F Y \a\t g:ia';
			?>
			<?
			if (is_numeric($document->modified) && (!is_numeric($document->published) || ($document->modified !== $document->published))) :
			?>
			<p><small class="lable">Last updated</small><br><?= date($the_date_format, $document->modified) ?></p>
			<?
			endif;
			?>
			<?
			if (is_numeric($document->published)) :
			?>
			<p><small class="lable">Published</small><br><?= date($the_date_format, $document->published) ?></p>
			<?
			else :
			?>
			<p>Not yet published.</p>
			<?
			endif;
			?>
			<?
			if (is_numeric($document->created)) :
			?>
			<p><small class="lable">Created</small><br><?= date($the_date_format, $document->created) ?></p>
			<?
			endif;
			?>
		</div>

	</div>


	<?
	foreach ($template_fields as $template_field)
	{
		$field = $fields[$template_field->id];
		// TODO: handle non-existing field

		$format_name = Entity\Field::get_format_name($field->format);
		$render("edit-field/$format_name", ['field' => $field]);


	}

	?>


</form>




<? // TODO: find a better way to append JS files ?>
<link rel="stylesheet" type="text/css" href="/cms/static/prism-custom.css">
<script type="text/javascript" src="/cms/static/lib/prism-custom.js"></script>
<script type="text/javascript" src="/cms/static/lib/bililiteRange.js"></script>
<script type="text/javascript" src="/cms/static/lib/bililiteRange.undo.js"></script>
<script type="text/javascript" src="/cms/static/lib/bililiteRange.util.js"></script>
<script type="text/javascript" src="/cms/static/lib/bililiteRange.fancytext.js"></script>
<script type="text/javascript" src="/cms/static/editor.js"></script>
