<?
namespace Infinity;
use \Infinity\Entity\Template;
use \Infinity\Entity\Category;
use \Infinity\ViewHelper\Select;

$templates = Template::all();
$template_selector = new Select('template_id', 'template_id', @$form['template_id']);
$template_selector->add_option('', 0, '');
$template_selector->add_options_by_objects($templates);


$categories = Category::all();
$category_name_map = Category::get_category_name_map($categories);

// remove the category being edited because it can't be its own parent
if (isset($category))
{
    $categories = array_filter($categories, function ($var) use ($category)
    {
       return $var->id != $category->id;
    });
}

// TODO: for subcategories, the parent category needs to be included in the name
$category_selector = new Select('parent_category_id', 'parent_category_id', @$form['parent_category_id']);
$category_selector->add_option('', 0, '');
$category_selector->add_options_by_objects($categories);



?>
<h1>Category</h1>

<a href="/cms/category/list" class="btn">&larr; Category List</a>

<form method="post">

    <input type="hidden" name="category_id" value="<?= @$category->id ?>">

    <fieldset>
        <legend>Category Meta Info</legend>
        <p>
        <label for="category_name">Category Name</label>
        <input class="input" type="text" name="name" id="category_name" value="<?= @$form['name'] ?>">

        <p>
        <label for="category_description">Description</label>
        <textarea name="description" id="category_description"><?= @$form['description'] ?></textarea>

        <p>
        <label for="parent_category_id">Parent Category</label>
        <!-- <input class="input" type="text" name="parent_category_id" id="parent_category_id" value="<?= @$form['parent_category_id'] ?>"> -->
        <?= $category_selector->render() ?>

        <p>
        <label for="template_id">Template</label>
        <!-- <input class="input" type="text" name="template_id" id="template_id" value="<?= @$form['template_id'] ?>"> -->
        <?= $template_selector->render() ?>




        <p>
        <button class="btn btn--green" type="submit">Save category</button>
    </fieldset>




</form>

<?
if (isset($category)) :
?>
    <h2>Documents</h2>


    <?
    if ($documents) :
    ?>

        <ul>
        <?
        foreach ($documents as $document) :
        ?>

            <li><a href="/cms/document/<?= $document->id ?>"><?= $document->name ?></a></li>

        <?
        endforeach;
        ?>
        </ul>
    <?
    else :
        echo '<p><em>There are no documents in this category.</em></p>';
    endif;
    ?>


    <a href="/cms/category/<?= $category->id ?>/new-document" class="btn btn--blue">New <?= $category->name ?> Document</a>

    <h2>Sub Categories</h2>

    <?
    if ($subs) :
    ?>

        <ul>
            <?
            foreach ($subs as $sub) :
            ?>
                <li><a href="/cms/category/<?= $sub->id ?>"><?= $sub->name ?></a></li>
            <?
            endforeach;
            ?>
        </ul>
    <?
    else :
    ?>
        <p><em>There are no subcategories in this category.</em></p>
    <?
    endif;
    ?>
    <a href="/cms/category/<?= $category->id ?>/new-sub" class="btn btn--blue">New <?= $category->name ?> Sub Category</a>
<?
endif;
?>
