<h1>Document Categories</h1>

<ul>
<?
foreach ($categories as $category):
?>
    <li><a href="/cms/category/<?= $category->id ?>"><?= $category->name ?></a></li>
<?
endforeach;
?>
</ul>

<p><a href="/cms/category/new" class="btn">New Category</a></p>
