* {
	box-sizing: border-box;
	position: relative;
}

@import 'normalize';
@import 'colors';

$sans: 'Avenir Next', Avenir, 'Segoe UI', Segoe, 'Segoe WP', Verdana, sans-serif;
$mono: consolas, menlo, courier, courier new, mono;

$font-size: 87.5%;
$normal: 400;
$bold: 700;
$headline-weight: 700;

$header_height: 60px;
$content-max-width: 960px;


@import 'z-index-map';




html {
	height: 100%;
}

body {
	min-height: 100%;
	overflow-x: hidden;
	font-family: $sans;
	font-weight: $normal;
	font-size: $font-size;
	line-height: 1.5;
	color: #222;

	background: #f8f8f8;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: $header_height;
	margin-bottom: 3rem;
}

h1, h2, h3, h4, h5 {
	font-weight: $headline-weight;
}

a {
	color: $blue;
	text-decoration: none;
	border-radius: 1px;
	transition: all 0.2s linear;
	border-bottom: 1px solid rgba(126,126,126,0.1);

	&:hover {
		// background-color: rgba(126,126,126, 0.06);
		// box-shadow: 0 -1px 0 4px rgba(126,126,126, 0.06);
		// border-bottom-color: transparent;
		border-bottom: 1px solid rgba(126,126,126,0.3);
	}
}

.pill-link {
	&:hover {
		background-color: rgba(126,126,126, 0.06);
		box-shadow: 0 0px 0 4px rgba(126,126,126, 0.06);
	}
}

pre, code, input, textarea {
	font-family: $mono;
}

small {
	color: $gray;
}

.contain {
	width: 100%;
	max-width: $content-max-width;
	padding: 0 2rem 1rem;
	margin: 0 auto;
}

.sticky {
	position: sticky;
}

::selection {
	background: rgba(127,127,127, 0.15);
}

header[role=banner] {
	position: fixed;
	height: $header_height;
	top: 0;
	left: 0;
	right: 0;

	background-color: rgba(248,248,248,0.99);
	z-index: $header-z-index;


	margin-bottom: 2rem;
	line-height: 60px;
	display: flex;

	a {
		border-bottom: none;
	}

}

.c-header__logo {
	height: 100%;
	width: auto;
	// text-align: center;
	// line-height: 60px;
	font-size: 48px;
	font-weight: 400;
	text-decoration: none;

	color: $red
}

.c-header__site-name {
	left: 160px;
	height: 100%;
	line-height: 60px;
	margin-left: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1rem;
	flex: 2;
}

.c-user-nav {
	text-align: right;
	// padding-right: 2rem;
	width: 100px;
	height: 100%;
	line-height: 60px;
	flex: 1;
	font-weight: normal;
}


.c-flash {
	&:empty { display: none; }

	.js-enabled & {
		position: fixed;
		top: 50px;
		width: 100%;
		max-width: $content-max-width;
		margin: 0 auto;
		left: 0;
		right: 0;
		z-index: $alerts-z-index;
	}
}

.alert {
	padding: 1rem;
	margin-bottom: 1rem;
	color: $white;
	border-radius: 2px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 12px;
	background: $gray;
	transition: all .15s ease-out;
	transition-timing-function: cubic-bezier(.20, .12, 0, 1);

	.js-enabled & {
		box-shadow:0 0 24px 0px rgba(127,127,127,0.6);
		opacity: 0; // fade it in because we're so premium
		transform: translate(0, 100%);

		&.is-init {
			transform: translate(0, 0);
			opacity:0.9;
		}

		&.alert--hidden {
			opacity: 0;
			transform: translate(0, -100%);
		}
	}
}

.alert--danger,
.alert--error {
	background: $red;
}

.alert--success {
	background: $green;
}


.btn {
	line-height: 22px;
	font-size: 12px;
	color: #111;
	border-radius: 2px;
	// border-radius: 20px;
	display: inline-block;
	padding: 7px;
	padding-left: 16px;
	padding-right: 16px;
	// font-weight: bold;

	// background: $off-white;
	background: $silver;
	color: #444;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	width: auto;
	min-width: 120px;

	font-weight: 600;

	transition: all 150ms linear;

	text-decoration: none;

	font-family: $sans;


	&:hover {
		color: #444;
		background: #e7e7e7;
	}
}

.btn, .btn:hover {
	border: 1px solid transparent;
}

.btn--bordered {
	border: 1px solid #d7d7d7;
	background-color: transparent;
	color: #444;

	&:hover {
		color: #444;
		background-color: #e6e6e6;
		// border-color: #eee;
	}
}


.btn--green {
	background-color: $green;
	border-color: $green;
	color: white;

	&:hover {
		color: white;
		background-color: lighten($green, 10%);
		border-color: lighten($green, 10%);
	}
}
.btn--blue {
	background-color: $blue;
	color: white;
	border-color: $blue;

	&:hover {
		color: white;
		background-color: lighten($blue, 12%);
		border-color: lighten($blue, 12%);
	}
}



label {
	display: block;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

input, textarea {
	display: block;
	border: 1px solid $off-white;
	border: none;
	background-color: #F2F3F4;
	border-radius: 9px;
	padding: 10px 12px;
	font-family: $mono;
	font-size: 12px;
	color: #6F747A;
	width: 300px;

	&:focus {
		color: $blue;
		outline: 0;
	}
}


$editor-field-border-width: 4px;
$editor-field-padding-left: 16px;


.document-editor {

	.editor-input,
	.editor-textarea {
		width: 100%;
		max-width: 45em;
		margin-left: -$editor-field-padding-left - $editor-field-border-width;
		margin-bottom: 2em;
		padding-top: 0;
		padding-left: $editor-field-padding-left;
		font-size: 14px;
		color: #505050;


		border-radius: 0;
		background: transparent;
		border-left: rgba(127,127,127, 0.1) $editor-field-border-width solid;


		transition: all 120ms linear;

		&:focus {
			// border-left-color: $lighter-blue;
			color: #222;
			outline: none;
		}
	}

	.editor-input {
		line-height: 26px;
		padding-bottom: 0;
	}

	.editor-textarea {
		min-height: 24em;
		line-height: 1.6;
	}

	.editor-label {
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.1em;
		color: #ccc;
		margin-bottom: .75em;
	}


}


.document-path {
	color: #ccc;
	a {
		color: #555;
		border-bottom: 1px solid rgba(126,126,126,0.2);
	}

	b {
		font-weight: 600;
		color: #222;
	}
}
