$blue: #0268ca;
    $lighter-blue: #38b9f2;
$dark-blue: #0402ca;
$purple: #6b02ca;
$magenta: #cf02a0;
$red: #e11d0f;
$red-orange: #fc4a02;
$orange: #fc8a02;
$gold: #fcbc02;
$yellow: #fcee02;
$light-green: #9fdb3d;
$green: #39cd55;
$green: darken(#9fdb3d, 7%);
$turquoise: #02cab1;
$white: #fff;
$off-white: #f8f8f8;
$gray: #aaa;
$silver: #eee;
