@import 'z-index-map';

.editor-controls {
    width: 160px;
    margin: 0 0 0 auto;
    position: sticky;
    top: 75px;
    height: 0;
    overflow: visible;
    z-index: $editor-controls-z-index;

    .btn {
        width: 100%;
    }

}
