<?
/*
Infinity\Entity\Field Object
(
    [id] => 1
    [document_id] => 1
    [name] => foo
    [description] =>
    [format] =>
    [value] => bar baz
    [template_field_id] =>
    [created] =>
    [modified] =>
    [created_by_user_id] =>
    [modified_by_user_id] =>
)
*/
$name = "fields[$field->id]";
$textarea = new \Infinity\ViewHelper\Textarea($name, $field->value);
$textarea->add_class('editor-textarea');
$textarea->add_class('language-markdown');

?>
<p>
    <label class="editor-label" for="<?= $name ?>"><?= $field->name ?></label>
    <?= $textarea ?>
</p>
