<?
/*
Infinity\Entity\Field Object
(
    [id] => 1
    [document_id] => 1
    [name] => foo
    [description] =>
    [format] =>
    [value] => bar baz
    [template_field_id] =>
    [created] =>
    [modified] =>
    [created_by_user_id] =>
    [modified_by_user_id] =>
)
*/
$name = "fields[$field->id]";
$input = new \Infinity\ViewHelper\Input($name, $field->value);
$input->add_class('editor-input');
?>
<p>
    <label class="editor-label" for="<?= $name ?>"><?= $field->name ?></label>
    <?= $input ?>
</p>
