<? use \Infinity\Auth; ?>
<?
$messages = $infinity->get_flash();
$site_name = $infinity->getConfig('site_name');
?>
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">

	<!-- Place favicon.ico in the root directory -->
	<title><?= $site_name ?> // &infin;</title>
	<script>document.querySelector('html').classList.add('js-enabled');</script>
	<?
	// TODO: detect environment here and only use livereload on dev
	?>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':8912/livereload.js?snipver=1"></' + 'script>')</script>
	<link rel="stylesheet" type="text/css" href="/cms/static/cms.css">
</head>
<body>
<header class="c-header contain" role="banner">

		<a href="/cms" class="c-header__logo">&infin;</a>
		<!-- <span class="c-header__site-name"><?= $site_name ?></span> -->
		<nav class="c-user-nav">
		<? if (Auth::is_signed_in()): ?>
			<a href="/cms/user/sign-out" class="pill-link">Sign Out</a>
		<? else :?>
			<a href="/cms/user/sign-in" class="pill-link">Sign In</a>
		<? endif; ?>
		</nav>

</header>
<section class="c-flash"><? foreach ($messages AS $flash) : ?>
		<div class="alert<? if ($flash['type']) : ?> alert--<?= $flash['type']; ?><? endif; ?>"><?= $flash['message'] ?></div>
	<? endforeach; ?></section>
<main role="main" class="contain">
	<? $view() ?>
</main>

<footer></footer>
<script type="text/javascript" src="/cms/static/main.js"></script>
</body>
</html>
