<?
namespace Infinity;
use \Infinity\Entity\Category;
use \Infinity\Entity\Template;
?>
<h1>hello</h1>
<h2>Categories</h2>
<?
function render_all_categories ($array_of_categories)
{
	if ($array_of_categories && !empty($array_of_categories))
	{

		echo '<ul>';
			foreach ($array_of_categories as $category)
			{
				echo '<li>';
				echo '<b><a href="/cms/category/' . $category->id . '">' . $category->name . '</a></b> ';
				echo '<small><a href="/cms/category/' . $category->id . '/new-document">(new document)</a></small>';
				render_all_categories($category->child_categories);
				echo '</li>';
			}
		echo '</ul>';
	}
}

$tree = Category::get_category_tree();
render_all_categories($tree);

?>

<a href="/cms/category/new" class="btn">New Category</a>


<h2>Templates</h2>

<?

$templates = Template::all();
if (count($templates)) :
	echo '<ul>';
	foreach ($templates as $template) :
?>
	<li>
		<a href="/cms/template/<?= $template->id ?>"><?= $template->name ?></a>
	</li>
<?
	endforeach;
	echo '</ul>';
else:
?>
	<p>There are no templates.</p>
<?
endif;
?>

<a href="/cms/template/new" class="btn">New Template</a>
