<h1>Your Templates</h1>


<ul>
<?
foreach ($templates as $template):
?>
    <li><a href="/cms/template/<?= $template->id ?>"><?= $template->name ?></a></li>
<?
endforeach;
?>
</ul>

<p><a href="/cms/template/new" class="btn">New Template</a></p>
