<h1>Template</h1>

<a href="/cms/template/list" class="btn">&larr; Template List</a>

<form method="post">

    <p>
    <label for="template_name">Template Name</label>
    <input class="input" type="text" name="name" id="template_name" value="<?= @$form['name'] ?>">

    <p>
    <label for="template_description">Description</label>
    <textarea class="input" name="description" id="template_description"><?= @$form['description'] ?></textarea>

    <p>
    <button type="submit" class="btn">Save Template</button>
</form>

<?
if (isset($template))
{
    ?>
        <h2>Template Fields</h2>
        <?
        if ($fields) :
            foreach ($fields as $field) :
                ?>
                <li>
                    <a href="/cms/template/field/<?= $field->id ?>"><?= $field->name ?></a>
                </li>
                <?
            endforeach;
        endif;
        ?>
        <a class="btn" href="/cms/template/<?= $template->id ?>/add-field">Add a Field</a>
    <?
}
?>


