<h1>Template Field</h1>

<?
if (isset($template)) :
?>
<a class="btn" href="/cms/template/<?= $template->id ?>">&larr; Back to template</a>
<?
endif;
?>

<form method="post">

    <input type="hidden" name="template_id" value="<?= @$template->id ?>">

    <p>
    <label for="template_field_name">Field Name</label>
    <input class="input" type="text" name="name" id="template_field_name" value="<?= @$form['name'] ?>">

    <p>
    <label for="template_field_description">Description</label>
    <textarea name="description" id="template_field_description"><?= @$form['description'] ?></textarea>

    <p>
    <label for="template_field_format">Format</label>
    <input class="input" type="text" name="format" id="template_field_format" value="<?= @$form['format'] ?>">

    <p>
    <label for="template_field_sort_order">Sort Order</label>
    <input class="input" type="text" name="sort_order" id="template_field_sort_order" value="<?= @$form['sort_order'] ?>">

    <p>
    <label for="template_field_default_value">Default Value</label>
    <input class="input" type="text" name="default_value" id="template_field_default_value" value="<?= @$form['default_value'] ?>">


    <p>
    <button class="btn" type="submit">Save Template Field</button>
</form>
