<h1>Users</h1>

<ul>
    <?
    foreach ($users as $user) :
    ?>
        <li><a href="/cms/user/<?= $user->id ;?>"><?= $user->name . ' &lt;' . $user->email_address . '&gt;' ?></a></li>
    <?
    endforeach;
    ?>
</ul>
