<form method="post">
    <label for="email_address">Email Address</label>
    <input id="email_address" name="email_address" type="email" required value="<?= $infinity->getConfig('developer_email') ?>">

    <label for="password">Password</label>
    <input id="password" name="password" type="password" required value="admin">

    <button type="submit">Sign In</button>

</form>
