<?

?>

<h1>User</h1>
<form method="post">

    <input type="hidden" name="user_id" value="<?= @$user->id ?>">

    <fieldset>
        <legend>User Info</legend>

        <p>
            <?
            if ($is_own_user)
                echo 'This is your profile.';
            ?>
        </p>

        <p>
        <label for="user_name">Name</label>
        <input class="input" type="text" name="name" id="user_name" value="<?= @$form['name'] ?>">

        <p>
        <label for="email_address">Email Address</label>
        <input class="input" type="email" name="email_address" id="email_address" value="<?= @$form['email_address'] ?>">


        <!-- <p>
        <label for="password">New Password</label>
        <input class="input" type="text" name="password" id="password" value="">
        <p>
        <label for="password2">Repeat New Password</label>
        <input class="input" type="text" name="password2" id="password2" value=""> -->






        <p>
        <button class="btn" type="submit">Save user</button>
    </fieldset>

</form>
