<?
use \Infinity\Entity\Category;
// expects $document
// maybe $category
?>
<div class="document-path">
    <?
    if (!@$category)
    {
        $category = Category::get($document->category_id);
    }
    $cat_tree = [$category];
    $parent_category_id = $category->parent_category_id;
    while (is_numeric($parent_category_id))
    {
        $parent_category = Category::get($parent_category_id);
        $cat_tree[] = $parent_category;
        $parent_category_id = $parent_category->parent_category_id;
    }

    foreach (array_reverse($cat_tree) as $category)
    {
        echo "<a href='/cms/category/$category->id'>$category->name</a> // ";
    }

    echo "<b>$document->name</b>";

    if (!is_null($draft))
    {
        echo ' (draft)';
    }
?>
</div>
